@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="~/css/index.css" />


<h1 class="display-4 my-5">Bienvenido</h1>



<form method="post" id="myForm">
<div id="CIndex" class="text-center container-fluid">

        <div id="calendars">
<div class="calendar">
    <label for="datepicker1"><h1>Fecha y hora inicial:</h1></label>
    <input type="text" class="text-center w-100" name="fechaInicio" id="datepicker1" asp-for="@Model.FechaInicio" required autocomplete="off" />
</div>

            <div class="calendar">
                <label for="datepicker2"><h1>Fecha y hora final:</h1></label>
                <input type="text" class="text-center w-100" name="fechaFinal" id="datepicker2" asp-for="@Model.FechaFinal" required autocomplete="off" />

            </div
     
       </div>

</div>

              <div id="controls">
           <button type="submit" id="btnSubmit">MOSTRAR GRÁFICOS</button>
           <select  aria-label="Default select example">
            <option selected>Filtrar por:</option>
            <option value="1">Dias semana</option>
            <option value="2">Semanas</option>
            <option value="3">Meses</option>
            <option value="4">Años</option>
        </select>
       </div>

       </form>



    @if (Model.Ventas != null)
{    <p>Mostrando @Model.Ventas.Count() registros. <br /> 
        Desde (@Model.FechaInicio @Model.HoraInicio) hasta (@Model.FechaFinal @Model.HoraFinal). </p>
    <br />
    <h1>@Model.Ventas.Count()</h1>
}
else
{
    <p>No se encontraron ventas para las fechas especificadas.</p>
}
<h1>Gráfico de ventas</h1>
    <div class="d-flex">
    <canvas id="myChart"></canvas>
    </div>




     


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.0/Chart.js"></script>
<script src="~/js/air-datepicker.js"> </script>
<script src="~/js/site.js"></script>