@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="~/css/index.css" />




<h1 class="display-4 my-5">Bienvenido</h1>

<form method="post" id="myForm">
<div id="CIndex">

        <div id="datePickerSection">
            <div id="datePickerSectionInitial">

                <h1>Fechas</h1>
                <div class="datePickerSectionInitial_input">
                    <div class="dateInfo">
                        <label for="initDay"><h4>Fecha inicio:</h4></label>
                        <input type="text" autocomplete="off" placeholder="dd/MM/yyyy" name="initDay" id="initDay" />
                    </div>
                    <div class="dateInfo">
                    <label for="finalDay"><h4>Fecha final:</h4></label>
                        <input type="text" autocomplete="off" placeholder="dd/MM/yyyy" name="finalDay" id="finalDay" />
                    </div>
                
                </div>
            </div>            
            <div id="datePickerSectionFinal">
                <h1>Horas</h1>
                <div class="datePickerSectionInitial_input">
                    <div class="dateInfo">
                        <label for="initHour"><h4>Hora inicio:</h4></label>
                        <input type="text" autocomplete="off" placeholder="HH:mm" name="initHour" id="initHour" />
                    </div>
                    <div class="dateInfo">
                        <label for="finalHour"><h4>Hora final:</h4></label>
                        <input type="text" autocomplete="off" placeholder="HH:mm" name="finalHour" id="finalHour" />
                    </div>
                </div>
            </div>
       </div>

<div class="selectionBox">
    <h4>Agrupar por:</h4>
            <div class="selectionBox_options">
        <div class="selectionBox_options_input">
            <input type="radio" id="group1" name="group" value="30">
            <label for="group1">Días semana</label><br>
        </div>
                <div class="selectionBox_options_input">
            <input type="radio" id="group2" name="group" value="30">
            <label for="group2">Semanas</label><br>
        </div>
                <div class="selectionBox_options_input">
            <input type="radio" id="group3" name="group" value="30">
            <label for="group3">Meses</label><br>
        </div>
                <div class="selectionBox_options_input">
            <input type="radio" id="group4" name="group" value="30">
            <label for="group4">Años</label><br>
        </div>        

    
    </div>
</div>
        <div class="selectionBox">
    <h4>Día a analizar:</h4>
    <div class="selectionBox_options">
                <div class="selectionBox_options_input">
                    <input type="checkbox" id="checkAll" class="checker">
                    <label for="checkAll">Todos</label><br>
                </div>
                <div class="selectionBox_options_input">
                    <input type="checkbox" class="checker" id="day1">
            <label for="day1">Lunes</label><br>
        </div>                
        <div class="selectionBox_options_input">
                    <input type="checkbox" class="checker" id="day2">
            <label for="day2">Martes</label><br>
        </div>                
        <div class="selectionBox_options_input">
                    <input type="checkbox" class="checker" id="day3">
                    <label for="day3">Miércoles</label><br>
        </div>               
        <div class="selectionBox_options_input">
                    <input type="checkbox" class="checker" id="day4">
                    <label for="day4">Jueves</label><br>
        </div>                
        <div class="selectionBox_options_input">
                    <input type="checkbox" class="checker" id="day5">
                    <label for="day5">Viernes</label><br>
        </div>               
        <div class="selectionBox_options_input">
                    <input type="checkbox" class="checker" id="day6">
                    <label for="day6">Sábado</label><br>
        </div>                
        <div class="selectionBox_options_input">
                    <input type="checkbox" class="checker" id="day7">
                    <label for="day7">Domingo</label><br>
        </div>
  
    </div>
</div>
<button type="submit">Mostrar gráficos</button>
</div>
       </form>



    @if (Model.Ventas != null)
{    <p>Mostrando @Model.Ventas.Count() registros. <br /> 
        Desde (@Model.FechaInicio @Model.HoraInicio) hasta (@Model.FechaFinal @Model.HoraFinal). </p>
    <br />
    <h1>@Model.Ventas.Count()</h1>
}
else
{
    <p>No se encontraron ventas para las fechas especificadas.</p>
}
<h1>Gráfico de ventas</h1>
    <div class="d-flex">
    <canvas id="myChart"></canvas>
    </div>




     


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.0/Chart.js"></script>
<script src="~/js/site.js"></script>