@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="~/css/index.css" />






<form method="post" id="myForm" asp-page-handler="Index">

<div id="CIndex">

        <div id="datePickerSection">
            <div id="datePickerSectionInitial">

                <h1>Fechas</h1>
                <div class="datePickerSectionInitial_input">
                    <div class="dateInfo">
                        <label for="initDay"><h4>Fecha inicio:</h4></label>
                        <input type="date" autocomplete="off" placeholder="dd/MM/yyyy" name="DiaInicio" id="initDay" asp-for="@Model.DiaInicio"/>
                    </div>
                    <div class="dateInfo">
                    <label for="finalDay"><h4>Fecha final:</h4></label>
                        <input type="date" autocomplete="off" placeholder="dd/MM/yyyy" name="DiaFinal" id="finalDay" asp-for="@Model.DiaFinal" disabled="true" />

                    </div>
                
                </div>
            </div>            
            <div id="datePickerSectionFinal">
                <h1>Horas</h1>
                <div class="datePickerSectionInitial_input">
                    <div class="dateInfo">
                        <label for="initHour"><h4>Hora inicio:</h4></label>
                        <input type="time" autocomplete="off" placeholder="HH:mm" name="HoraInicio"  asp-for="@Model.HoraInicio" id="initHour" />
                    </div>
                    <div class="dateInfo">
                        <label for="finalHour"><h4>Hora final:</h4></label>
                        <input type="time" autocomplete="off" placeholder="HH:mm"  name="HoraFinal" asp-for="@Model.HoraFinal" id="finalHour" />
                    </div>
                </div>
            </div>
       </div>

<div class="selectionBox">
    <h4>Agrupar por:</h4>
            <div class="selectionBox_options">
        <div class="selectionBox_options_input">
            <input type="radio" id="group1" name="group" value="30">
            <label for="group1">Días semana</label><br>
        </div>
                <div class="selectionBox_options_input">
            <input type="radio" id="group2" name="group" value="30">
            <label for="group2">Semanas</label><br>
        </div>
                <div class="selectionBox_options_input">
            <input type="radio" id="group3" name="group" value="30">
            <label for="group3">Meses</label><br>
        </div>
                <div class="selectionBox_options_input">
            <input type="radio" id="group4" name="group" value="30">
            <label for="group4">Años</label><br>
        </div>        

    
    </div>
</div>
        <div class="selectionBox">
    <h4>Día a analizar:</h4>
    <div class="selectionBox_options">
                <div class="selectionBox_options_input">
                    <input type="checkbox" id="checkAll" class="checker">
                    <label for="checkAll">Todos</label><br>
                </div>
                <div class="selectionBox_options_input">
                    <input type="checkbox" class="checker" id="day1">
            <label for="day1">Lunes</label><br>
        </div>                
        <div class="selectionBox_options_input">
                    <input type="checkbox" class="checker" id="day2">
            <label for="day2">Martes</label><br>
        </div>                
        <div class="selectionBox_options_input">
                    <input type="checkbox" class="checker" id="day3">
                    <label for="day3">Miércoles</label><br>
        </div>               
        <div class="selectionBox_options_input">
                    <input type="checkbox" class="checker" id="day4">
                    <label for="day4">Jueves</label><br>
        </div>                
        <div class="selectionBox_options_input">
                    <input type="checkbox" class="checker" id="day5">
                    <label for="day5">Viernes</label><br>
        </div>               
        <div class="selectionBox_options_input">
                    <input type="checkbox" class="checker" id="day6">
                    <label for="day6">Sábado</label><br>
        </div>                
        <div class="selectionBox_options_input">
                    <input type="checkbox" class="checker" id="day7">
                    <label for="day7">Domingo</label><br>
        </div>
  
    </div>
</div>
<button type="submit">Mostrar gráficos</button>
</div>
       </form>

@if (Model.Ventas != null)
{
    <h1>Gráficos</h1>
    <div id="Charts">
        @{
            List<string> fechasUnicas = Model.Ventas.Select(item => item.DiaInicio.ToString().Substring(0, 10)).Distinct().ToList();
        }
        @foreach (var fecha in fechasUnicas)
        {
            var horas = new List<string>();
            var importes = new List<double>();
            foreach (var item in Model.Ventas.Where(v => v.DiaInicio.ToString().Substring(0, 10) == fecha))
            {
                horas.Add(item.Hora.ToString());
                importes.Add(item.Importe ?? 0.0);
            }
            var fechaDateTime = DateTime.Parse(fecha);
            var diaSemana = fechaDateTime.ToString("dddd");
            var totalRecaudado = importes.Sum();
            <canvas style="border:1px dotted black; border-radius:1rem; width:100%" id="@fecha"></canvas>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.0/Chart.js"></script>
            <script>
                var ctx = document.getElementById("@fecha").getContext("2d");
                var horasArray = @Html.Raw(Json.Serialize(horas));
                var importesArray = @Html.Raw(Json.Serialize(importes));
                var totalRecaudado = @Html.Raw(Json.Serialize(totalRecaudado));

                var colors = [];
                for (var i = 0; i < horasArray.length; i++) {
                    var color = 'rgba(' + Math.floor(Math.random() * 256) + ',' + Math.floor(Math.random() * 256) + ',' + Math.floor(Math.random() * 256) + ',0.5)';
                    colors.push(color);
                }

                var myChart = new Chart(ctx, {
                    type: "bar",
                    data: {
                        labels: horasArray,
                        datasets: [{
                            label: 'Día @diaSemana - @fecha.Split(' ')[0] - Recaudación total: ' + totalRecaudado.toFixed(2)+'€',
                            data: importesArray,
                            backgroundColor: colors
                        }]
                    },
                    options: {
                        responsive: true,
                        scaleShowValues: true,
                        scales: {
                            xAxes: [{
                                stacked: false,
                                beginAtZero: true,
                                scaleLabel: {
                                    labelString: 'Month'
                                },
                                ticks: {
                                    stepSize: 1,
                                    min: 0,
                                    autoSkip: false
                                }
                            }]
                        }
                    }
                });
            </script>
        }
    </div>
}










<script defer src="~/js/site.js"></script>
